<div class="auth-container">
  <div class="background-decorations">
    <div class="curved-line"></div>
  </div>
  <app-background-particles></app-background-particles>
  <div class="auth-header">
    <app-gov-branding></app-gov-branding>
  </div>

  <div class="auth-content">
    <app-system-features></app-system-features>
    <mat-card>
      <mat-card-header>
        <app-step-indicator
          [steps]="steps$ | async"
          [currentStepIndex]="(currentStep$ | async)! - 1"
          (stepChange)="onNextStep($event + 1)"
        ></app-step-indicator>
      </mat-card-header>

      <mat-card-content>
        <div class="form-scroll-container">
          <ng-container [ngSwitch]="currentStep$ | async">
            <app-register-step-one *ngSwitchCase="1"></app-register-step-one>
            <app-register-step-two *ngSwitchCase="2"></app-register-step-two>
            <app-register-step-three
              *ngSwitchCase="3"
            ></app-register-step-three>
            <app-register-step-four *ngSwitchCase="4"></app-register-step-four>
            <app-register-step-one *ngSwitchDefault></app-register-step-one>
          </ng-container>
        </div>

        <div class="form-navigation">
          <div class="nav-buttons">
            <button
              mat-stroked-button
              class="prev-btn teal-outlined-btn"
              *ngIf="(currentStep$ | async)! > 1"
              (click)="handlePreviousStep()"
              [disabled]="loading"
            >
              <mat-icon>arrow_back</mat-icon>
              Previous
            </button>

            <ng-container *ngIf="!(isLastStep$ | async); else submitButton">
              <button
                mat-flat-button
                class="next-btn teal-gradient-btn"
                (click)="handleNextStep()"
                [disabled]="!(canProceedToNextStep$ | async) || loading"
              >
                Next
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </ng-container>

            <ng-template #submitButton>
              <button
                mat-flat-button
                class="submit-btn teal-gradient-btn"
                (click)="onSubmit()"
                [disabled]="!(canProceedToNextStep$ | async) || loading"
              >
                <span class="submit-content">
                  <mat-icon>login</mat-icon>
                  {{ loading ? "Creating Account..." : "Create Account" }}
                </span>
              </button>
            </ng-template>
          </div>
        </div>

        <div class="form-footer">
          <span>Already have an account?</span>
          <a mat-button class="teal-text-btn" routerLink="/auth/login"
            >Sign in</a
          >
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
