<div class="edit-user-container">
  <div class="page-header">
    <h1>{{ "user.edit.title" | transloco }}</h1>
  </div>

  <mat-progress-bar
    *ngIf="loading$ | async"
    mode="indeterminate"
    class="page-loading-bar"
    aria-label="{{ 'common.loading' | transloco }}"
  ></mat-progress-bar>

  <ng-container *ngIf="user$ | async as user">
    <app-user-form
      [loading]="loading$ | async"
      [errors]="errors$ | async"
      [user]="user"
      [isEdit]="true"
      (submitForm)="onSubmit($event)"
      (cancel)="onCancel()"
    ></app-user-form>
  </ng-container>
</div>
