<form [formGroup]="stepForm">
  <div class="form-fields">
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName" />
      <mat-error *ngIf="stepForm.get('fullName')?.hasError('required')">
        Full name is required
      </mat-error>
      <mat-error *ngIf="stepForm.get('fullName')?.hasError('minlength')">
        Name must be at least 2 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>पूरा नाम </mat-label>
      <input matInput formControlName="fullNameNepali" />
      <mat-error *ngIf="stepForm.get('fullNameNepali')?.hasError('required')">
        पूरा नाम आवश्यक छ
      </mat-error>
      <mat-error *ngIf="stepForm.get('fullNameNepali')?.hasError('nepaliName')">
        कृपया नेपाली अक्षरहरू मात्र प्रयोग गर्नुहोस्
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [max]="maxDate"
        formControlName="dateOfBirth"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="stepForm.get('dateOfBirth')?.hasError('required')">
        Date of birth is required
      </mat-error>
    </mat-form-field>
  </div>
</form>
