<div class="language-switcher">
  <button
    mat-icon-button
    class="language-toggle"
    [matMenuTriggerFor]="languageMenu"
    aria-label="Change language"
  >
    <div class="language-code">{{ currentLanguage.code.toUpperCase() }}</div>
  </button>

  <mat-menu #languageMenu="matMenu" class="language-menu">
    <div class="menu-header">
      <h3>{{ "languages.selectLanguage" | transloco }}</h3>
    </div>
    <button
      mat-menu-item
      *ngFor="let language of languages"
      [class.active]="language.code === currentLanguage.code"
      (click)="switchLanguage(language)"
    >
      <div class="language-item">
        <div class="language-flag" [class]="'flag-' + language.code"></div>
        <div class="language-info">
          <span class="language-name">{{ getLocalizedName(language) }}</span>
          <span class="language-local-name">{{
            getLocalizedLocalName(language)
          }}</span>
        </div>
        <mat-icon *ngIf="language.code === currentLanguage.code"
          >check</mat-icon
        >
      </div>
    </button>
  </mat-menu>
</div>
